$white: #ffffff;
$accent-color: #ffd800;

$x-light-gray: #f2f2f2;
$light-gray: #b6b6b6;

$button-color: #f1c40f;
$text-color: #454545;

$container-padding-horizontal: 80px;
$container-padding-horizontal-tablet: 20px;

$post-thumb-min-height: 200px;
